# Kaggle authentication
KAGGLE_USERNAME=
KAGGLE_API_TOKEN=
# KAGGLE_KEY= # Legacy API key. Use only when not using KAGGLE_API_TOKEN.

# Google Cloud settings
PROJECT_ID=
BUCKET_NAME=
REGION=

# Experiment tracking
MLFLOW_TRACKING_URI=
